annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.14"
comtypes==1.4.10 ; python_version >= "3.11" and python_version < "3.14"
psutil==7.0.0 ; python_version >= "3.11" and python_version < "3.14"
pycaw==20240210 ; python_version >= "3.11" and python_version < "3.14"
pydantic-core==2.33.1 ; python_version >= "3.11" and python_version < "3.14"
pydantic==2.11.3 ; python_version >= "3.11" and python_version < "3.14"
pyserial==3.5 ; python_version >= "3.11" and python_version < "3.14"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "3.14"
typing-extensions==4.13.2 ; python_version >= "3.11" and python_version < "3.14"
typing-inspection==0.4.0 ; python_version >= "3.11" and python_version < "3.14"
