black==25.1.0 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
comtypes==1.4.10 ; python_version >= "3.11" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.11" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==4.3.7 ; python_version >= "3.11" and python_version < "4.0"
psutil==7.0.0 ; python_version >= "3.11" and python_version < "4.0"
pycaw==20240210 ; python_version >= "3.11" and python_version < "4.0"
pyserial==3.5 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "4.0"
